/src/main/resources/rebel.xml

# Build directories
/build/
/bin/
target/
*.class

# OS-specific thumbnail, temp and config files
.DS_Store
Thumbs.db
Desktop.ini
._*
.Spotlight-V100
.Trashes

# Eclipse-based IDEs
.project
.cproject
*.pydevproject
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
.externalToolBuilders/

# IntelliJ IDEA IDE
.idea/
*.iml
*.iws
.buildpath
