<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://46.4.97.245:3306/tomek199_thesis?zeroDateTimeBehavior=convertToNull</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">tomek199_thesis</property>
        <property name="connection.password">Rvei9QSd</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.thesischecker.dto.AnalysisEntity"/>
        <mapping class="com.thesischecker.dto.AnalysisHasResourceEntity"/>
        <mapping class="com.thesischecker.dto.ResourceEntity"/>
        <mapping class="com.thesischecker.dto.UserEntity"/>
        <mapping class="com.thesischecker.dto.UserProfileEntity"/>
        <mapping class="com.thesischecker.dto.UserUpdateEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>



