<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/thesis</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping resource="com/thesischecker/controller/AnalysisEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.AnalysisEntity"/>
        <mapping resource="com/thesischecker/controller/AnalysisHasResourceEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.AnalysisHasResourceEntity"/>
        <mapping resource="com/thesischecker/controller/ResourceEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.ResourceEntity"/>
        <mapping resource="com/thesischecker/controller/UserEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.UserEntity"/>
        <mapping resource="com/thesischecker/controller/UserProfileEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.UserProfileEntity"/>
        <mapping resource="com/thesischecker/controller/UserUpdateEntity.hbm.xml"/>
        <mapping class="com.thesischecker.controller.UserUpdateEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>